<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<!--CSS-->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="./assets/img/logoVoiture.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Univ'ResaVéhicules
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="goToVoitures();" >Listes des voitures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goToRestitution();" >Restitution</a>
      </li>
    </ul>
    <div id="userName">
      Bonjour, {{userName}}
    </div>
  </div>
</nav>

<body>
  <main>
    <section id="filtres">
      <div class="container">
        <div class="filtre">
          <h2>Filtres</h2>
          <form>
            <div class="row justify-content-center">
              <div class="form-group col-12 col-md-4">
                <label for="inputState">Nombres de places</label>
                <select id="inputState" class="form-control">
                  <option selected>Nombre de place</option>
                  <option value="1">5</option>
                </select>
              </div>
              <div class="form-group col-12 col-md-4">
                <label for="example-datetime-local-input_debut">Date début</label>
                <div class="col-10">
                  <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                    id="example-datetime-local-input_debut">
                </div>
              </div>
              <div class="form-group col-12 col-md-4">
                <label for="example-datetime-local-input_fin">Date fin</label>
                <div class="col-10">
                  <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00"
                    id="example-datetime-local-input_fin">
                </div>
              </div>
            </div>
            <div class="row justify-content-center col-12">
              <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section #liste_voiture id="listes_voitures">
      <div class="container">
        <div class="voiture">
          <h2>Voitures</h2>
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-4" *ngFor="let element of data; let i=index; let odd=odd;">
              <app-voiture (click)="onCarClick(element.id_vehicule)" [data]="element" [rest]="false"> </app-voiture>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section #calendrier class="hideCalendar" id="calendrier">
      <div class="container calendrier">
        <div class="row">
          <h2>Calendrier</h2>
          <full-calendar 
            id="calendar" 
            #calendar 
            defaultView="timeGridWeek" 
            [height]="configurationCalendar.height"
            [locale]="configurationCalendar.locale" 
            [plugins]="configurationCalendar.calendarPlugins"
            [allDaySlot]="configurationCalendar.allDaySlot" 
            [slotDuration]="configurationCalendar.slotDuration"
            [eventOverlap]="configurationCalendar.eventOverlap" 
            [themeSystem]="configurationCalendar.themeSystem"
            [events]="configurationCalendar.events" 
            [selectable]="configurationCalendar.selectable"
            [editable]="configurationCalendar.editable" 
            [slotEventOverlap]="configurationCalendar.slotEventOverlap"
            (dayRender)="getDays($event)" 
            (dateClick)="handleDateClick($event,addEvent)"
            (eventResize)="onResizeDrag($event,'resize')" 
            (eventDrop)="onResizeDrag($event,'drop')"
            (eventClick)="modifyEvent($event,changeResa)">
          </full-calendar>
        </div>
      </div>
    </section>
    <section #restitution id="restitution">
      <div class="container">
        <div class="restitution">
          <h2>Restitution</h2>
          <div class="row justify-content-center">
            <ng-container *ngFor="let element of dataRest; let i=index; let odd=odd;">
              <div class="col-12 col-sm-12 col-md-4" *ngIf="element.date_debut<=today">
                <app-voiture (click)="open(content,element)" [data]="element" [rest]="true"></app-voiture>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <ng-template #content let-content>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Restitution de la {{ voitureRest.description }}</h5>
            <button id="crossClose" type="button" class="close" aria-hidden="true" (click)="content.dismiss()">
              ×
            </button>
          </div>
          <div class="modal-body">
            <form style="margin-left: 2%;">
              <label for="km_debut">Kilométrage Début :</label>
              <div class="input-group">
                <input [(ngModel)]="voitureRest.kilometrage" [ngModelOptions]="{ standalone: true }" type="number"
                  class="form-control" placeholder="Kilométrage Début" id="km_debut" aria-describedby="basic-addon1"
                  disabled>
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1">km</span>
                </div>
              </div>
              <label for="km_fin">Kilométrage Fin :</label>
              <div class="input-group">
                <input [(ngModel)]="voitureRest.kilometrage_fin" [ngModelOptions]="{ standalone: true }" type="number"
                  class="form-control" placeholder="Kilométrage Fin" id="km_fin" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">km</span>
                </div>
              </div>
              <div class="form-group">
                <label for="probleme">Problèmes:</label>
                <textarea [(ngModel)]="voitureRest.commentaire" [ngModelOptions]="{ standalone: true }"
                  class="form-control" rows="10" id="probleme"
                  placeholder="Description des problème (si problème) sinon laisser le champ vide"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="content.dismiss()">Annuler</button>
            <button type="button" class="btn btn-primary" (click)="saveRestitution()">Envoyer</button>
          </div>
        </div>
      </ng-template>
      <ng-template #addEvent let-addEvent>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Modal2Label">Reservation de la {{voitureAdd.description}}</h5>
            <button id="crossClose" type="button" class="close" aria-hidden="true" (click)="addEvent.dismiss()">
              ×
            </button>
          </div>
          <div class="modal-body">
            <form style="margin-left: 2%;">
              <label for="conducteur">Conducteur</label>
              <select (ngModelChange)="checkParticipant($event,true)" [(ngModel)]="conducteur"
                [ngModelOptions]="{ standalone: true }" id="conducteur" required class="form-control">
                <ng-container *ngFor="let user of users; let i=index; let odd=odd;">
                  <option [ngValue]="user.id_membre">{{user.prenom}} {{user.nom}}</option>
                </ng-container>
              </select>
              <div *ngFor="let participant of participants; let i=index; let odd=odd;">
                <div class="form-group">

                  <label for="{{'reservation'+i}}">Participant numéro {{i+1}}</label>
                  <select (ngModelChange)="checkParticipant($event,false)" [(ngModel)]="voitureAdd.participant[i]"
                    [ngModelOptions]="{ standalone: true }" id="{{'reservation'+i}}" required class="form-control">
                    <ng-container *ngFor="let user of users; let i=index; let odd=odd;">
                      <option [ngValue]="user.id_membre">{{user.prenom}} {{user.nom}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
              <a type="button" class="btn btn-primary" (click)="addElement()">Ajouter Participant</a>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="addEvent.dismiss()">Annuler</button>
            <button type="button" class="btn btn-primary" (click)="addEvent.close()">Envoyer</button>
          </div>
        </div>
      </ng-template>
      <ng-template #changeResa let-changeResa>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Modal2Label">Reservation de la {{voitureModif.description}}</h5>
              <button id="crossClose" type="button" class="close" aria-hidden="true" (click)="changeResa.dismiss()">
                ×
              </button>
            </div>
            <div class="modal-body">
              <form style="margin-left: 2%;">
                <label for="conducteur">Conducteur</label>
                <select (ngModelChange)="checkParticipantModif($event,true)" [(ngModel)]="voitureModif.conducteur"
                  [ngModelOptions]="{ standalone: true }" id="conducteur" required class="form-control">
                  <ng-container *ngFor="let user of users; let i=index; let odd=odd;">
                    <option [ngValue]="user.id_membre">{{user.prenom}} {{user.nom}}</option>
                  </ng-container>
                </select>
                <div *ngFor="let participant of voitureModif.nbparticipant; let i=index; let odd=odd;">
                  <div class="form-group">
                    <label for="{{'modif'+i}}">Participant numéro {{i+1}}</label>
                    <select (ngModelChange)="checkParticipantModif($event,false)" [(ngModel)]="voitureModif.participant[i]"
                      [ngModelOptions]="{ standalone: true }" id="{{'modif'+i}}" required class="form-control">
                      <ng-container *ngFor="let user of users; let i=index; let odd=odd;">
                        <option [ngValue]="user.id_membre">{{user.prenom}} {{user.nom}}</option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <a type="button" class="btn btn-primary" (click)="modifElement()">Ajouter Participant</a>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="changeResa.dismiss()">Annuler</button>
              <button type="button" class="btn btn-primary" (click)="changeResa.close()">Envoyer</button>
            </div>
          </div>
        </ng-template>
    </section>
  </main>
</body>
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h6>A Propos</h6>
          <p class="about text-justify">
            L'Université de Rennes 1, s'engage dans le numérique et met à disposition de l'équipe pédagogique de l'IUT une nouvelle application permettant la réservation de véhicule pour leur faciliter la vie.
          </p>
        </div>

        <div class="col-xs-6 offset-md-1 col-md-4">
          <h6>Vos autres Applications</h6>
          <ul class="footer-links">
            <li><a class="link_app" href="#">Base documentaire</a><i class="icon fas fa-book"></i></li>
            <li><a class="link_app" href="#">Réservation de salle</a><i class="icon fas fa-calendar-alt"></i></li>
            <li><a class="link_app" href="#">Notes de frais</a><i class="icon fas fa-clipboard"></i></li>
            <li><a class="link_app" href="#">Journaux d'appels</a><i class="icon fas fa-phone-square"></i></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <img class="img_logo" src="./assets/img/LogoLP.png" alt="logo lp web" width="60" height="60">
          <img class="img_logo" src="./assets/img/logoUniv.png" alt="logo lp web" width="120" height="60">
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a class="link_linkedin" href="https://www.linkedin.com/in/anthony-boulc-h/">Anthony Boulc'h</a>, <a class="link_linkedin" href="https://www.linkedin.com/in/foucheur-s%C3%A9bastien-745016140/">Sébastien Foucheur</a>, <a class="link_linkedin" href="https://www.linkedin.com/in/mathis-desbois-a63188161/">Mathis Desbois</a>, <a class="link_linkedin" href="https://www.linkedin.com/in/gaetan-merrien/">Gaetan Merrien</a>.
          </p>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/LPWeb-D%C3%A9veloppement-dApplication-Web-et-Mobile-106405440922019/?modal=admin_todo_tour"><i class="fab fa-facebook"></i></a></li>
            <li><a class="twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/LPWebLannion"><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/lp_web_lannion/?hl=fr"><i class="fab fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/school/iutlannion/"><i class="fab fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
