<link href="https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap" rel="stylesheet">
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form (ngSubmit)="connexion()">
            <img class="voiture" src="./assets/img/logoVoiture.png" alt="Logo Voiture Electrique">
			<h1>Connexion</h1>
			<input  [(ngModel)]="model.username" type="text" name="username" id="username" placeholder="Login" />
			<input  [(ngModel)]="model.password" name="password"type="password" id="password" placeholder="Password" />
			<div *ngIf="message!=''" class="alert-danger">
				{{message}}
			</div>
			<button type="submit">Me connecter</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Bonjour !</h1>
                <p>Bienvenue sur votre nouvelle application de réservation de véhicule.</p>
                <img class="univ" src="./assets/img/logoUniv.png" alt="Logo Univ Rennes 1">
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>