/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/bootstrap/main.css';
.fc-content{
    text-align: center;
    font-size: 2em;
    padding-top: 30%;      
}
.fc-slats{
    tr{
        height: 20vh;
    }
}
.fc-event-container{
    margin: 0 !important;
    .fc-time-grid-event{
        margin: -0.5px;
        border: solid black 0.5px;
    }
}
.fc-day.fc-disabled-day{
    background-color: rgba(128,128,128,0.4) !important;
}
.fc-axis,
.fc-day-header {
    background-color: white;
}
html {
    scroll-behavior: smooth;
}

body{
    margin-top: 3%;
    background-color: #fce8ec;
}

section{
    padding: 1%;
}

.Objet{
    width: 90%; 
    margin-left: 5%;
    margin-top: 5%; 
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    background-color: white;
    text-align: center;
    overflow: hidden;

    transition: transform .2s;
}

.Objet img{
    width: 100%;
    height: auto;
}

.Objet:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 999;
}


h1,h2,h3,h4,h5,h6,p{
    font-family: 'Roboto', sans-serif;
    color: #343a40;
}

h2{
    margin-left: 1.2%;
    text-transform: uppercase;

}

h2 a{
    border-bottom: solid 2px #343a40;
}
.hideCalendar{
    scroll-margin: 20px;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
#listes_voitures{
    scroll-margin: 20px;
}
#restitution{
    scroll-margin: 20px;
}
.nav-link:hover{
    cursor: pointer;
}
.displayCalendar{
    scroll-margin: 20px;
    opacity: 1;
    height: auto;
    transition: opacity 0.6s linear;
}
.dates{
    border: 1px solid rgba(128,128,128,0.4);
    background-color: rgba(128,128,128,0.1);
    color: #343a40;
    margin-bottom: 0;
}



