<div *ngIf="rest==false; else elseBlock">
  <div class="Objet">
    <img [src]="data.image" width="255.98" height="170.66">
    <h3>{{ data.marque }} {{ data.modele }}</h3>
      <h4>5 Places</h4>
      <p>Description : {{ data.description }}</p>
  </div>
</div>
<ng-template #elseBlock>
      <div class="Objet">
          <img [src]="data.image">
          <h3>{{ data.marque }} {{ data.modele }}</h3>
          <p class="dates"> {{ data.date_debut }}</p> 
          <p class="dates">{{ data.date_fin}}</p>
      </div>
</ng-template>
